version: "3"
services:
  millicord:
    build:
      context: .
      target: develop
    container_name: millicord
    volumes:
      - ./:/millicord.py
    working_dir: /millicord.py
    tty: true
    command: >
      /usr/bin/env bash