name: Docker Image CI

on: push

env:
    IMAGE_NAME: millicord
jobs:

  build:

    runs-on: ubuntu-latest


    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Extract branch name
      shell: bash
      run: echo "::set-output name=branch::${GITHUB_REF#refs/heads/}"
      id: extract_branch

    - name: Prepare resource
      shell: bash
      env:
        CLASSES_URL: ${{ secrets.CLASSES_URL }}
        DENSENET_URL: ${{ secrets.DENSENET_URL }}
        RESNET_URL: ${{ secrets.RESNET_URL }}
      run: ./scripts/get_resources.sh

    - name: Build
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        target: develop
        push: false
        tags: ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ steps.extract_branch.outputs.branch }}-test
        load: true
        cache-from: type=local,src=/tmp/.buildx-cache

    - name: Test
      shell: bash
      env:
        REGISTRY: ${{ secrets.REGISTRY_URL }}
        BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
        BOT_TOKEN: ${{ secrets.TEST_BOT_TOKEN }}
      run: |
        docker run --rm ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-test bash -c "python ./t_helper.py -t ${BOT_TOKEN} && python ./setup.py test"

    - name: Publish for branch
      id: docker_publish_branch
      uses: docker/build-push-action@v2
      if: ${{ steps.extract_branch.outputs.branch != 'master' && steps.extract_branch.outputs.branch != 'develop' }}
      with:
        context: .
        target: release
        push: true
        tags: ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ steps.extract_branch.outputs.branch }}-latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new

    - name: Publish for main stream
      id: docker_publish_main
      uses: docker/build-push-action@v2
      if: ${{ steps.extract_branch.outputs.branch == 'master' || steps.extract_branch.outputs.branch == 'develop' }}
      with:
        context: .
        target: release
        push: true
        tags: ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ steps.extract_branch.outputs.branch }}-latest, ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ steps.extract_branch.outputs.branch }}-${{ github.run_number }}
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new

    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache