name: Docker Image CI

on: push

env:
    IMAGE_NAME: millicord
jobs:

  build:

    runs-on: ubuntu-latest


    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Extract branch name
      shell: bash
      run: echo "::set-output name=branch::${GITHUB_REF#refs/heads/}"
      id: extract_branch

    - name: Prepare resource
      shell: bash
      env:
        CLASSES_URL: ${{ secrets.CLASSES_URL }}
        DENSENET_URL: ${{ secrets.DENSENET_URL }}
        RESNET_URL: ${{ secrets.RESNET_URL }}
      run: ./scripts/get_resources.sh

    - name: Build
      shell: bash
      env:
        DOCKER_BUILDKIT: 1
        REGISTRY: ${{ secrets.REGISTRY_URL }}
        BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
        BUILD_NUMBER: ${{ github.run_number }}
      run: |
        declare -a build_args=()
        build_args=( "${build_args[@]}" --build-arg BUILDKIT_INLINE_CACHE=1)
        build_args=( "${build_args[@]}" -t ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-test )
        build_args=( "${build_args[@]}" --target develop )
        docker build ${build_args[@]} .

    - name: Test
      shell: bash
      env:
        REGISTRY: ${{ secrets.REGISTRY_URL }}
        BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
        BOT_TOKEN: ${{ secrets.TEST_BOT_TOKEN }}
      run: |
        docker run --rm ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-test bash -c "python ./t_helper.py -t ${BOT_TOKEN} && python ./setup.py test"

    - name: Publish
      shell: bash
      env:
        DOCKER_BUILDKIT: 1
        REGISTRY: ${{ secrets.REGISTRY_URL }}
        BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
        BUILD_NUMBER: ${{ github.run_number }}
      run: |
        declare -a build_args=()
        build_args=( "${build_args[@]}" --build-arg BUILDKIT_INLINE_CACHE=1)
        build_args=( "${build_args[@]}" -t ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-latest )
        build_args=( "${build_args[@]}" --target release )
        if [ "${BRANCH_NAME}" == "master" ] || [ "${BRANCH_NAME}" == "develop" ] ; then build_args=( "${build_args[@]}" -t ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-${BUILD_NUMBER}) ; fi
        docker build ${build_args[@]} .
        docker push ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-latest
        if [ "${BRANCH_NAME}" == "master" ] || [ "${BRANCH_NAME}" == "develop" ] ; then docker push ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-${BUILD_NUMBER} ; fi
