name: Docker Image CI

on: push

env:
    IMAGE_NAME: millicord
jobs:

  build:

    runs-on: ubuntu-latest


    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Extract branch name
      shell: bash
      run: echo "::set-output name=branch::${GITHUB_REF#refs/heads/}"
      id: extract_branch

    - name: Get cached image
      env:
        REGISTRY: ${{ secrets.REGISTRY_URL }}
        BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
        BUILD_NUMBER: ${{ github.run_number }}
      run: |
        if docker manifest inspect ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-latest > /dev/null ; then \
          echo "::set-output name=image::${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-latest"; \
        elif docker manifest inspect ${REGISTRY}/${IMAGE_NAME}:develop-latest > /dev/null ; then \
          echo "::set-output name=image::${REGISTRY}/${IMAGE_NAME}:develop-latest"; \
        else \
          echo "::set-output name=image::none"; \
        fi
      id: get_cached_image

    - name: Build and push image
      shell: bash
      env:
        DOCKER_BUILDKIT: 1
        REGISTRY: ${{ secrets.REGISTRY_URL }}
        BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
        BUILD_NUMBER: ${{ github.run_number }}
        CACHED_IMAGE: ${{ steps.get_cached_image.output.image }}
      run: |
        declare -a build_args=()
        build_args=( "${build_args[@]}" --build-arg BUILDKIT_INLINE_CACHE=1)
        build_args=( "${build_args[@]}" -t ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-latest )
        if [ "${BRANCH_NAME}" == "master" ] || [ "${BRANCH_NAME}" == "develop" ] ; then build_args=( "${build_args[@]}" -t ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-${BUILD_NUMBER}) ; fi
        if [ "${CACHED_IMAGE}" != "none" ] ; then build_args=( "${build_args[@]}" --cache-from=${CACHED_IMAGE} ) ; fi
        docker build ${build_args[@]} .
        docker push ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-latest
        if [ "${BRANCH_NAME}" == "master" ] || [ "${BRANCH_NAME}" == "develop" ] ; then docker push ${REGISTRY}/${IMAGE_NAME}:${BRANCH_NAME}-${BUILD_NUMBER} ; fi
